.header{
    position: relative; 
}

.content{
    padding: 2rem; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    z-index: 5; 
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
}

@media (min-width: 750px) {
    .headerImg{
        width: 100vw; 
    }
    .content{
        padding: 3rem 8rem; 
    }
}