@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

:root {
  --f-primary: "Commissioner", sans-serif;
  --c-black: hsl(0, 0%, 0%);
  --c-cyan-dark28-72: hsl(176, 72%, 28%);
  --c-cyan-mid47-50: hsl(176, 50%, 47%);
  --c-cyan-mid50-100: hsl(180, 100%, 50%);
  --c-gray48: hsl(0, 0%, 48%);
  --c-gray50: hsl(0, 0%, 50%);
}
